.contentLeft{
    width: 56%;
    margin-left: 3rem;
    margin-bottom: 5rem;
}
.contentLeft>h2{
    font-size: 1.8rem;
    font-family: SVN-Athena;
    color: #899a29;
    margin-bottom: 2rem;
}
.contentLeft>p{
    font-size: 0.9rem;
    font-family: SVN-Athena;
    color:#222;
    text-align: justify;
    margin-top: 1rem;
}
.contentRight{
    width: 30%;
    margin-left: 5rem;
}
.BVnho{
    display:flex;
    margin-bottom: 2rem;
}
.BVnho>p{
    font-size: 0.9rem;
    font-family: SVN-Athena;
    color:#222;
    text-align: justify;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

/* mobile css */
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
    .contentLeft>img{
        width: 100%;
    }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
    .contentLeft>img{
        width: 100%;
    }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
    .contentLeft>img{
        width: 100%;
    }
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {
    .contentLeft>img{
        width: 100%;
    }
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
    .contentLeft>img{
        width: 100%;
    }
}